doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Jan Speckamp (428367),Jasper Buß,Jens Seifert,Benjamin Karic , Eric Thieme-Garmann')
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
    title Skylax - a 'ling Project

    // Page Content [parsed by Pug]
    script.
        if("#{objects}" !== "") {
            var loaded_object_id = "#{objects}".split(',');
        } else {
            var loaded_object_id = [];
        }
    // JAVASCRIPTS
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(src="https://use.fontawesome.com/31a5e4392a.js")
    script(src='/javascripts/leaflet-sidebar.min.js')



    // Leaflet draw plugin
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js')

    script(src = '/javascripts/Load.js')
    script(src = '/javascripts/index.js')
    script(src = '/javascripts/map.js')
    script(src = '/javascripts/jquery.bootpag.min.js')

    // Spinner from https://github.com/fgnass/spin.js
    script(src = '/javascripts/spin.js')

    // STYLESHEETS
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-sidebar.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    #map
    #sidebar.sidebar.collapsed
      .sidebar-tabs
        ul(role='tablist')
          li
            a(href='#home' , role='tab')
              i.fa.fa-home
          li
            a(href='#search', role='tab')
              i.fa.fa-bars
        ul(role='tablist')
          li
            a(href='#imprint', role='tab')
              i.fa.fa-institution
      .sidebar-content
        #home.sidebar-pane
          h2 Skylax
          p The Project Name: “Skylax” is chosen with reference to the german name of Scylax of Caryanda (Greek: Σκύλαξ ο Καρυανδεύς) who was a renowned Greek explorer and writer of the late 6th and early 5th centuries BCE. (source: Wikipedia).
        #search.sidebar-pane
          form#searchform(method='GET')
            | <b>Search by name:</b>
            br
            input(id='searchformbyname_input' type='search' placeholder="Enter a search-string")
            br
            | <b>Select start date:</b> 
            br       
            |&nbsp;Day:&nbsp;
            select(name='selectsday', id="startday")
              option(selected='selected' value='01')  1
              option(value='02')  2
              option(value='03')  3
              option(value='04')  4
              option(value='05')  5
              option(value='06')  6
              option(value='07')  7
              option(value='08')  8
              option(value='09')  9
              option(value='10')  10
              option(value='11')  11
              option(value='12')  12
              option(value='13')  13
              option(value='14')  14
              option(value='15')  15
              option(value='16')  16
              option(value='17')  17
              option(value='18')  18
              option(value='19')  19
              otpion(value='20')  20
              option(value='21')  21
              option(value='22')  22
              option(value='23')  23
              option(value='24')  24
              option(value='25')  25
              option(value='26')  26
              option(value='27')  27
              option(value='28')  28
              option(value='29')  29
              option(value='30')  30
              option(value='31')  31
            |&nbsp;Month:&nbsp;
            select(name='selectsmonth', id="startmonth")
              option(selected='selected' value='01')  1
              option(value='02')  2
              option(value='03')  3
              option(value='04')  4
              option(value='05')  5
              option(value='06')  6
              option(value='07')  7
              option(value='08')  8
              option(value='09')  9
              option(value='10')  10
              option(value='11')  11
              option(value='12')  12
            //input(id='searchformbydate_input' type='date' placeholder="YYYY")
            |&nbsp;Year:&nbsp;
            select(name='selectsyear', id="startyear")
              option(selected='selected' value='2015')  2015
              option(value='2016')  2016
              option(value='2017')  2017
              option(value='2018')  2018
              option(value='2019')  2019
              option(value='2020')  2020
              option(value='2021')  2021
              option(value='2022')  2022
              option(value='2023')  2023
              option(value='2024')  2024
              option(value='2025')  2025
              option(value='2026')  2026
            a(style=" font-size: 9px" onclick="toggleIt('detailedstarttime')")|&nbsp;Detailed Start-Time
            br
            p#detailedstarttime(style=" display: none")
              |&nbsp;&nbsp;Hours:&nbsp;
              select(name='selectshour', id="starthour")
                option(selected="selected" value='00')  0
                option(value='01')  1
                option(value='02')  2
                option(value='03')  3
                option(value='04')  4
                option(value='05')  5
                option(value='06')  6
                option(value='07')  7
                option(value='08')  8
                option(value='09')  9
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
                option(value='13')  13
                option(value='14')  14
                option(value='15')  15
                option(value='16')  16
                option(value='17')  17
                option(value='18')  18
                option(value='19')  19
                otpion(value='20')  20
                option(value='21')  21
                option(value='22')  22
                option(value='23')  23

              |&nbsp;&nbsp;Minutes:&nbsp;
              select(name='selectsmin', id="startmin")
                option(selected="selected" value='00')  0
                option(value='01')  1
                option(value='02')  2
                option(value='03')  3
                option(value='04')  4
                option(value='05')  5
                option(value='06')  6
                option(value='07')  7
                option(value='08')  8
                option(value='09')  9
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
                option(value='13')  13
                option(value='14')  14
                option(value='15')  15
                option(value='16')  16
                option(value='17')  17
                option(value='18')  18
                option(value='19')  19
                option(value='20')  20
                option(value='21')  21
                option(value='22')  22
                option(value='23')  23
                option(value='24')  24
                option(value='25')  25
                option(value='26')  26
                option(value='27')  27
                option(value='28')  28
                option(value='29')  29
                option(value='30')  30
                option(value='31')  31
                option(value='32')  32
                option(value='33')  33
                option(value='34')  34
                option(value='35')  35
                option(value='36')  36
                option(value='37')  37
                option(value='38')  38
                option(value='39')  39
                option(value='40')  40
                option(value='41')  41
                option(value='42')  42
                option(value='43')  43
                option(value='44')  44
                option(value='45')  45
                option(value='46')  46
                option(value='47')  47
                option(value='48')  48
                option(value='49')  49
                option(value='50')  50
                option(value='51')  51
                option(value='52')  52
                option(value='53')  53
                option(value='54')  54
                option(value='55')  55
                option(value='56')  56
                option(value='57')  57
                option(value='58')  58
                option(value='59')  59

              |&nbsp;&nbsp;Seconds:&nbsp;
              select(name='selectssec', id="startsec")
                option(selected="selected" value='00')  0
                option(value='01')  1
                option(value='02')  2
                option(value='03')  3
                option(value='04')  4
                option(value='05')  5
                option(value='06')  6
                option(value='07')  7
                option(value='08')  8
                option(value='09')  9
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
                option(value='13')  13
                option(value='14')  14
                option(value='15')  15
                option(value='16')  16
                option(value='17')  17
                option(value='18')  18
                option(value='19')  19
                option(value='20')  20
                option(value='21')  21
                option(value='22')  22
                option(value='23')  23
                option(value='24')  24
                option(value='25')  25
                option(value='26')  26
                option(value='27')  27
                option(value='28')  28
                option(value='29')  29
                option(value='30')  30
                option(value='31')  31
                option(value='32')  32
                option(value='33')  33
                option(value='34')  34
                option(value='35')  35
                option(value='36')  36
                option(value='37')  37
                option(value='38')  38
                option(value='39')  39
                option(value='40')  40
                option(value='41')  41
                option(value='42')  42
                option(value='43')  43
                option(value='44')  44
                option(value='45')  45
                option(value='46')  46
                option(value='47')  47
                option(value='48')  48
                option(value='49')  49
                option(value='50')  50
                option(value='51')  51
                option(value='52')  52
                option(value='53')  53
                option(value='54')  54
                option(value='55')  55
                option(value='56')  56
                option(value='57')  57
                option(value='58')  58
                option(value='59')  59
              br
            
            | <b>Select end date:</b> 
            br       
            |&nbsp;Day:&nbsp;
            select(name='selecteday', id="endday")
              option(value='01')  1
              option(value='02')  2
              option(value='03')  3
              option(value='04')  4
              option(value='05')  5
              option(value='06')  6
              option(value='07')  7
              option(value='08')  8
              option(value='09')  9
              option(value='10')  10
              option(value='11')  11
              option(value='12')  12
              option(value='13')  13
              option(value='14')  14
              option(value='15')  15
              option(value='16')  16
              option(value='17')  17
              option(value='18')  18
              option(value='19')  19
              otpion(value='20')  20
              option(value='21')  21
              option(value='22')  22
              option(value='23')  23
              option(value='24')  24
              option(value='25')  25
              option(value='26')  26
              option(value='27')  27
              option(value='28')  28
              option(value='29')  29
              option(value='30')  30
              option(selected='selected' value='31')  31

            |&nbsp;Month:&nbsp;
            select(name='selectemonth', id="endmonth")
              option(value='01')  1
              option(value='02')  2
              option(value='03')  3
              option(value='04')  4
              option(value='05')  5
              option(value='06')  6
              option(value='07')  7
              option(value='08')  8
              option(value='09')  9
              option(value='10')  10
              option(value='11')  11
              option(selected='selected' value='12')  12

            |&nbsp;Year:&nbsp;
            select(name='selecteyear', id="endyear")
              option(value='2015')  2015
              option(value='2016')  2016
              option(selected='selected' value='2017')  2017
              option(value='2018')  2018
              option(value='2019')  2019
              option(value='2020')  2020
              option(value='2021')  2021
              option(value='2022')  2022
              option(value='2023')  2023
              option(value='2024')  2024
              option(value='2025')  2025
              option(value='2026')  2026
            a(style=" font-size: 9px" onclick="toggleIt('detailedendtime')")|&nbsp;Detailed End-Time
            br  
            p#detailedendtime(style=" display: none")
              |&nbsp;&nbsp;Hours:&nbsp;
              select(name='selectehour', id="endhour")
                option(value='00')  0
                option(value='01')  1
                option(value='02')  2
                option(value='03')  3
                option(value='04')  4
                option(value='05')  5
                option(value='06')  6
                option(value='07')  7
                option(value='08')  8
                option(value='09')  9
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
                option(value='13')  13
                option(value='14')  14
                option(value='15')  15
                option(value='16')  16
                option(value='17')  17
                option(value='18')  18
                option(value='19')  19
                otpion(value='20')  20
                option(value='21')  21
                option(value='22')  22
                option(selected="selected" value='23')  23

              |&nbsp;&nbsp;Minutes:&nbsp;
              select(name='selectemin', id="endmin")
                option(value='00')  0
                option(value='01')  1
                option(value='02')  2
                option(value='03')  3
                option(value='04')  4
                option(value='05')  5
                option(value='06')  6
                option(value='07')  7
                option(value='08')  8
                option(value='09')  9
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
                option(value='13')  13
                option(value='14')  14
                option(value='15')  15
                option(value='16')  16
                option(value='17')  17
                option(value='18')  18
                option(value='19')  19
                option(value='20')  20
                option(value='21')  21
                option(value='22')  22
                option(value='23')  23
                option(value='24')  24
                option(value='25')  25
                option(value='26')  26
                option(value='27')  27
                option(value='28')  28
                option(value='29')  29
                option(value='30')  30
                option(value='31')  31
                option(value='32')  32
                option(value='33')  33
                option(value='34')  34
                option(value='35')  35
                option(value='36')  36
                option(value='37')  37
                option(value='38')  38
                option(value='39')  39
                option(value='40')  40
                option(value='41')  41
                option(value='42')  42
                option(value='43')  43
                option(value='44')  44
                option(value='45')  45
                option(value='46')  46
                option(value='47')  47
                option(value='48')  48
                option(value='49')  49
                option(value='50')  50
                option(value='51')  51
                option(value='52')  52
                option(value='53')  53
                option(value='54')  54
                option(value='55')  55
                option(value='56')  56
                option(value='57')  57
                option(value='58')  58
                option(selected="selected" value='59')  59

              |&nbsp;&nbsp;Seconds:&nbsp;
              select(name='selectesec', id="endsec")
                option(value='00')  0
                option(value='01')  1
                option(value='02')  2
                option(value='03')  3
                option(value='04')  4
                option(value='05')  5
                option(value='06')  6
                option(value='07')  7
                option(value='08')  8
                option(value='09')  9
                option(value='10')  10
                option(value='11')  11
                option(value='12')  12
                option(value='13')  13
                option(value='14')  14
                option(value='15')  15
                option(value='16')  16
                option(value='17')  17
                option(value='18')  18
                option(value='19')  19
                option(value='20')  20
                option(value='21')  21
                option(value='22')  22
                option(value='23')  23
                option(value='24')  24
                option(value='25')  25
                option(value='26')  26
                option(value='27')  27
                option(value='28')  28
                option(value='29')  29
                option(value='30')  30
                option(value='31')  31
                option(value='32')  32
                option(value='33')  33
                option(value='34')  34
                option(value='35')  35
                option(value='36')  36
                option(value='37')  37
                option(value='38')  38
                option(value='39')  39
                option(value='40')  40
                option(value='41')  41
                option(value='42')  42
                option(value='43')  43
                option(value='44')  44
                option(value='45')  45
                option(value='46')  46
                option(value='47')  47
                option(value='48')  48
                option(value='49')  49
                option(value='50')  50
                option(value='51')  51
                option(value='52')  52
                option(value='53')  53
                option(value='54')  54
                option(value='55')  55
                option(value='56')  56
                option(value='57')  57
                option(value='58')  58
                option(selected="selected" value='59')  59
            br    
            | Top Right Corner:
            br
            | &nbsp; Lat:&nbsp;&nbsp;&nbsp;&nbsp; 
            input(id='searchformbybbox_topleft' type='string', placeholder="Latidude of top left corner" size="25")
            br
            | &nbsp; Long:&nbsp; 
            input(id='searchformbybbox_topright' type='string', placeholder="Longitude of top left corner" size="25")
            br
            br
            | Bottom Left Corner:
            br
            | &nbsp; Lat:&nbsp;&nbsp;&nbsp;&nbsp; 
            input(id='searchformbybbox_bottomleft' type='string', placeholder="Latidude of bottom right corner" size="28")
            br
            | &nbsp; Long:&nbsp; 
            input(id='searchformbybbox_bottomright' type='string', placeholder="Longitude of bottom right corner" size="28")
            br
            br
            button.btn.btn-info.btn-xs(id ='deleteDrawing' onclick='', type='button')
              span.glyphicon.glyphicon-trash
              |  Click to delete your drawing
            button.btn.btn-info.btn-xs(id ='bboxbutton' onclick='',type='button')
              span.glyphicon.glyphicon-pencil
              |  Click to draw a Bounding Box on the Map
            br
            br
            input.btn.btn-success(type='submit', id='searchIt', value='Search for datasets')
            //button.btn.btn-primary(id ='submit' onclick='visualizeMetadata()')
              span.glyphicon.glyphicon-send
              |  Submit
            p ________________________________________________________________________________________
          p#one
           #page-selection
        #imprint.sidebar-pane
          h1 Legal Disclosure
          | Information in accordance with section 5 TMG
          br
          br
          | Jan Speckamp und Jens Seifert und Jasper Buß und Benjamin Karic und Eric Thieme-Garmann
          br
          | 127.0.0.1
          br
          | eth0
          br
          h2 Contact
          | ICQ: 123456789
          br
          | E-Mail:
          a(href='mailto:noreply.muster@mail.de') max.muster@mail.de
          br
          | Website:
          a(href='http://3g2upl4pq6kufc4m.onion/', target='_blank') http://3g2upl4pq6kufc4m.onion/
          br
          h2 Disclaimer
          | Accountability for content
          br
          | The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
          br
          br
          | Accountability for links
          br
          | Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
          br
          br
          | Copyright
          br
          |  Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
          br
          br
          i Source:
          a(href='https://www.twigg.de', target='_blank') twiggs translations
          br
          br
