doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Benjamin Karic, Jens Seifert, Jasper Buß, Eric Thieme-Garmann, Jan Speckamp')
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
    title Skylax - a 'ling Project

    // External Javascripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(src="https://use.fontawesome.com/releases/v5.0.3/js/all.js")
    script(src='/javascripts/external/leaflet-sidebar.min.js')
    script(src='/javascripts/external/jquery.bootpag.min.js')
    script(src='/javascripts/external/moment.js')
    script(src='/javascripts/external/bootstrap-datetimepicker.js')
    
    // Leaflet draw plugin
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js')
    
    // Internal Javascripts
    script(src = '/javascripts/index.js')
    script(src = '/javascripts/LayerInteractions.js')
    script(src = '/javascripts/Permalink.js')
    script(src = '/javascripts/SubmitHandler.js')
    script(src = '/javascripts/SearchForDatasets.js')
    script(src = '/javascripts/DynamicHTML.js')
    script(src = '/javascripts/map.js')
    
    // Spinner from https://github.com/fgnass/spin.js
    script(src = '/javascripts/external/spin.js')

    // STYLESHEETS
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-sidebar.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    #map
    #sidebar.sidebar.collapsed
      .sidebar-tabs
        ul(role='tablist' id='topTabs')
          li(id='homeTabButton')
            a(href='#home' , role='tab')
              i.fa.fa-home
          li(id='searchTabButton')
            a(href='#search', role='tab')
              i.fas.fa-search
          li(id='resultsTabButton')
            a(href='#results', role='tab')
              i.fa.fa-bars
        ul(role='tablist' id='bottomTabs')
          li(id='saveTabButton')
            a(href='#save', role='tab', onclick='showPermalink()')
              i.fa.fa-save
          li(id='imprintTabButton')
            a(href='#imprint', role='tab')
              i.fa.fa-university
      #scrollero.sidebar-content
        #home.sidebar-pane
          #sideName
            h2 Skylax
          p The Project Name: “Skylax” is chosen with reference to the german name of Scylax of Caryanda (Greek: Σκύλαξ ο Καρυανδεύς) who was a renowned Greek explorer and writer of the late 6th and early 5th centuries BCE. (source: Wikipedia).
          #sideName
            img.image(src="/images/logo.png" alt="Logo")
        #search.sidebar-pane
          form#searchform(method='GET')
            #sideName

              | <h2>  Search for Datasets</h2>
            #nameForm
              a.fas.fa-question-circle(id="tooltip_name" data-toggle='tooltip', data-placement='top', title='Enter the desired data Name here ')

              | <h3><i class="fas fa-pencil-alt"></i> Name  <input type="checkbox" id="addNameToSearch" name="addName")></h3>
              .container
                .row
                  .col-sm-3
                    .form-group
                      div.input-group
                        span.input-group-addon
                          i.fas.fa-database
                        input.form-control(id='searchformbyname_input' type='text' placeholder="Enter a Name for the dataset", disabled=true)
            br
            #dateForm
              a.fas.fa-question-circle(id="tooltip_date" data-toggle='tooltip', data-placement='top', title='Enter the desired data Name here ')
              | <h3><span class="far fa-calendar-alt"></span> Date <input type="checkbox" id="addDateToSearch" name="addDate")> </h3>
              | <b>Select start date:</b>
              .container
                .row
                  .col-sm-3
                    .form-group
                      #datetimepicker1.input-group.date
                        span.input-group-addon
                          span.glyphicon.glyphicon-calendar
                        input.form-control(id='startDate',type='text' ,disabled='disabled')
                  script(type='text/javascript').
                      $(function () {
                          $('#datetimepicker1').datetimepicker({
                              locale: 'de'
                          });
                          $("#datetimepicker1").on("dp.change", function (e) {
                              startdate = $('#datetimepicker1').data("DateTimePicker").date()._d.toISOString();
                          });
                      });

              | <b>Select end date:</b>
              .container
                .row
                  .col-sm-3
                    .form-group
                      #datetimepicker2.input-group.date
                        span.input-group-addon
                          span.glyphicon.glyphicon-calendar
                        input.form-control(id='endDate' ,type='text' disabled='disabled')
                  script(type='text/javascript').
                      $(function () {
                          $('#datetimepicker2').datetimepicker({
                              locale: 'de'
                          });
                          $("#datetimepicker2").on("dp.change", function (e) {
                              enddate=$('#datetimepicker2').data("DateTimePicker").date()._d.toISOString();

                      });})
            br
            #bboxForm
              a.fas.fa-question-circle(id ="tooltip_bbox" data-toggle='tooltip', data-placement='top', title='Enter the desired data Name here ')
              | <h3><span class="fas fa-edit"></span> Bounding Box <input type="checkbox" id="addBboxToSearch" name="addBbox")></h3>
              | <b>Top Right Corner:</b>
              br
              div.row
                | &nbsp; Latitude:&nbsp;&nbsp;&nbsp;&nbsp;
                input(id='searchformbybbox_topLat' type='number', placeholder="" size="25" min = '-90' max = '90' step = 'any' disabled='disabled')
                | &nbsp; Longitude:&nbsp;
                input(id='searchformbybbox_topLong' type='number', placeholder="" size="25" min = '-180' max = '180' step = 'any' disabled='disabled')
              br
              | <b>Bottom Left Corner:</b>
              br
              div.row
                | &nbsp; Latitude:&nbsp;&nbsp;&nbsp;&nbsp;
                input(id='searchformbybbox_bottomLat' type='number', placeholder="" size="28" min = '-90' max = '90' step = 'any' disabled='disabled')
                | &nbsp; Longitude:&nbsp;
                input(id='searchformbybbox_bottomLong' type='number', placeholder="" size="28" min = '-180' max = '180' step = 'any' disabled='disabled')
              br
              div#bboxerror(display="none")
              br
              button.btn.btn-info.btn-xs(type='button', name = 'drawPolygon' id='deleteDrawing', onclick='')
                span.glyphicon.glyphicon-trash
                |  Click to delete your bounding box
              button.btn.btn-info.btn-xs(type='button', id='bboxbutton' ,onclick='')
                span.glyphicon.glyphicon-pencil
                |  Click to draw a Bounding Box on the Map
            br
            br
            // Commented out because of styling if something shouldnt work remove comments and go back to old
            // input.btn.btn-success(type='submit', id='searchIt', value='Search')
            button.btn.btn-success(type='submit', id='searchIt', value='Search')
              span.fas.fa-search
              | Search for datasets
        #results.sidebar-pane
          #sideName
            h2 Results
          p#resultIntroText
            | Currently there are no results.
          p#one
           #page-selection
        #save.sidebar-pane
        #imprint.sidebar-pane
          #sideName
            h2 Legal Disclosure
          | Information in accordance with section 5 TMG
          br
          br
          | Benjamin Karic, Jens Seifert, Jasper Buß, Eric Thieme-Garmann, Jan Speckamp
          br
          | 127.0.0.1
          br
          | eth0
          br
          h3 Contact
          | ICQ: 123456789
          br
          | E-Mail:
          a(href='mailto:noreply.muster@mail.de') max.muster@mail.de
          br
          | Website:
          a(href='http://3g2upl4pq6kufc4m.onion/', target='_blank') http://3g2upl4pq6kufc4m.onion/
          br
          h3 Disclaimer
          | Accountability for content
          br
          | The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
          br
          br
          | Accountability for links
          br
          | Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
          br
          br
          | Copyright
          br
          |  Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
          br
          br
          i Source:
          a(href='https://www.twigg.de', target='_blank') twiggs translations
          br
          br
//br
//| &nbsp;Day:&nbsp;
//select(name='selectsday', id="startday")
//| &nbsp;Month:&nbsp;
//select(name='selectsmonth', id="startmonth", onchange="updateDay('start')")
////input(id='searchformbydate_input' type='date' placeholder="YYYY")
//| &nbsp;Year:&nbsp;
//select(name='selectsyear', id="startyear", onchange="updateDay('start')")
//a(style=" font-size: 9px" onclick="toggleIt('detailedstarttime')")|&nbsp;Detailed Start-Time
//br
//p#detailedstarttime(style=" display: none")
//  | &nbsp;&nbsp;Hours:&nbsp;
//  select(name='selectshour', id="starthour")
//
//  | &nbsp;&nbsp;Minutes:&nbsp;
//  select(name='selectsmin', id="startmin")
//
//  | &nbsp;&nbsp;Seconds:&nbsp;
//  select(name='selectssec', id="startsec")
//  br
//
//| <b>Select end date:</b>
//br
//| &nbsp;Day:&nbsp;
//select(name='selecteday', id="endday")
//
//| &nbsp;Month:&nbsp;
//select(name='selectemonth', id="endmonth", onchange="updateDay('end')")
//
//| &nbsp;Year:&nbsp;
//select(name='selecteyear', id="endyear", onchange="updateDay('end')")
//a(style=" font-size: 9px" onclick="toggleIt('detailedendtime')")|&nbsp;Detailed End-Time
//br
//p#detailedendtime(style=" display: none")
//  | &nbsp;&nbsp;Hours:&nbsp;
//  select(name='selectehour', id="endhour")
//
//  | &nbsp;&nbsp;Minutes:&nbsp;
//  select(name='selectemin', id="endmin")
//
//  | &nbsp;&nbsp;Seconds:&nbsp;
//  select(name='selectesec', id="endsec")
