doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Jan Speckamp (428367),Jasper Buß,Jens Seifert,Benjamin Karic , Eric Thieme-Garmann')
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
    title Skylax - a 'ling Project

    // Page Content [parsed by Pug]
    script.
        if("#{objects}" !== "") {
            var loaded_object_id = "#{objects}".split(',');
        } else {
            var loaded_object_id = [];
        }
    // JAVASCRIPTS
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(src="https://use.fontawesome.com/31a5e4392a.js")
    script(src='/javascripts/leaflet-sidebar.min.js')



    // Leaflet draw plugin
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js')

    script(src = '/javascripts/Load.js')
    script(src = '/javascripts/index.js')
    script(src = '/javascripts/map.js')
    
    // Spinner from https://github.com/fgnass/spin.js
    script(src = '/javascripts/spin.js')

    // STYLESHEETS
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-sidebar.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    #map
    #sidebar.sidebar.collapsed
      .sidebar-tabs
        ul(role='tablist')
          li
            a(href='#home' , role='tab')
              i.fa.fa-home
          li
            a(href='#search', role='tab')
              i.fa.fa-bars
        ul(role='tablist')
          li
            a(href='#imprint', role='tab')
              i.fa.fa-institution
      .sidebar-content
        #home.sidebar-pane
          h2 Skylax
          p The Project Name: “Skylax” is chosen with reference to the german name of Scylax of Caryanda (Greek: Σκύλαξ ο Καρυανδεύς) who was a renowned Greek explorer and writer of the late 6th and early 5th centuries BCE. (source: Wikipedia).
        #search.sidebar-pane
          form#searchform(method='GET')
            input(id='searchformbyname_input' type='search' placeholder="by name")
            input(id='searchformbydate_input' type='search' placeholder="YYYY-MM-DDTHH:MM:SSZ")
            input.btn.btn-primary(type='submit', id='searchIt', value='Search for datasets')
            br
            form#searchformbybbox
              | Top Right Corner:
              br
              | Lat:
              input(id='searchformbybbox_topleft' type='string', placeholder="Latidude of top left corner")
              | &nbsp; Long:
              input(id='searchformbybbox_topright' type='string', placeholder="Longitude of top left corner")
              br
              br
              | Bottom Left Corner:
              br
              | Lat:
              input(id='searchformbybbox_bottomleft' type='string', placeholder="Latidude of bottom right corner")
              | &nbsp; Long:
              input(id='searchformbybbox_bottomright' type='string', placeholder="Longitude of bottom right corner")
            button.btn.btn-primary(id ='deleteDrawing' onclick='')
              span.glyphicon.glyphicon-trash
              |  Click to delete your drawing
            button.btn.btn-primary(id ='bboxbutton' onclick='')
              span.glyphicon.glyphicon-pencil
              |  Click to draw a Bounding Box on the Map
            button.btn.btn-primary(id ='submit' onclick='visualizeMetadata()')
              span.glyphicon.glyphicon-send
              |  Submit
            p ________________________________________________________________________________________
            #resultpanel.panel-panel-default
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset1')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 1
                span.panel-body.panel-collapse.collapse.out(id='dataset1')
                    p#quality Metadata:
                    p#resolution1
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset2')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 2
                span.panel-body.panel-collapse.collapse.out(id='dataset2')
                    p#quality Metadata:
                    p#resolution2 
                   
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset3')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 3
                span.panel-body.panel-collapse.collapse.out(id='dataset3')
                    p#quality Metadata:
                    p#resolution3 
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset4')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 4
                span.panel-body.panel-collapse.collapse.out(id='dataset4')
                    p#quality Metadata:
                    p#resolution4 
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset5')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 5
                span.panel-body.panel-collapse.collapse.out(id='dataset5')
                    p#quality Metadata :
                    p#resolution5
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset6')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 6
                span.panel-body.panel-collapse.collapse.out(id='dataset6')
                    p#quality Metadata:
                    p#resolution6 
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset7')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 7
                span.panel-body.panel-collapse.collapse.out(id='dataset7')
                    p#quality Metadata:
                    p#resolution7
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
              .panel.panel-default
                .panel-heading
                  a.text-muted(data-toggle='collapse' data-target='#dataset8')
                    span.glyphicon.glyphicon-open(aria-hidden='true')
                    |                  Dataset 8
                span.panel-body.panel-collapse.collapse.out(id='dataset8')
                    p#quality Metadata:
                    p#resolution8
                    
                    form
                      input(type='radio', name='type', value='RGB', checked='')
                      |  RGB 
                      a.text-muted(data-toggle='collapse' data-target='#dropd')
                        span.glyphicon.glyphicon-open(aria-hidden='true')
                        |  Click me to choose your options
                      br
                      span.panel-body.panel-collapse.collapse.out(id='dropd')
                        |  Red band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                            
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", id='minRed', placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Green band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                        |  Blue band:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65536, value=65536)
                        br
                        br
                      input(type='radio', name='type', value='Greyscale')
                      |  Greyscale
                      br
                      span.panel-body.panel-collapse(id='dropd2')
                        |  Choose a band:&nbsp;&nbsp;
                        li.dropdown.btn.btn-default
                          span.glyphicon.glyphicon-th-list
                            |  Select 
                            span.caret
                          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                            li
                              a(href="#") Band 1
                            li 
                              a(href="#") Band 2
                            li
                              a(href="#") Band 3
                            li 
                              a(href="#") Band 4
                            li
                              a(href="#") Band 5
                            li 
                              a(href="#") Band 6
                            li
                              a(href="#") Band 7
                            li 
                              a(href="#") Band 8
                            li
                              a(href="#") Band 8a
                            li
                              a(href="#") Band 9
                            li 
                              a(href="#") Band 10
                            li
                              a(href="#") Band 11
                            li 
                              a(href="#") Band 12
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min-Value:
                        input(type="number", name="minValue", maxlength="5", placeholder=0, value=0)
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Max-Value:
                        input(type="number", name="maxValue", maxlength="5", placeholder=65000, value=65000)
                        br
                      br
                      |Choose your opacity:
                      input(type='range', name="ageInputName", id="ageInputId", value="0", min="0", max="100", oninput="ageOutputId.value= 'Opacity Level:' + ageInputId.value")
                      output(name="ageOutputName", id="ageOutputId")
                        | Opacity Level: 0
                    .form-group
                      button.btn.btn-primary(id ='show' onclick='')
                        span.glyphicon.glyphicon-search
                        |  Show this dataset
        #imprint.sidebar-pane
          h1 Legal Disclosure
          | Information in accordance with section 5 TMG
          br
          br
          | Jan Speckamp und Jens Seifert und Jasper Buß und Benjamin Karic und Eric Thieme-Garmann
          br
          | 127.0.0.1
          br
          | eth0
          br
          h2 Contact
          | ICQ: 123456789
          br
          | E-Mail:
          a(href='mailto:noreply.muster@mail.de') max.muster@mail.de
          br
          | Website:
          a(href='http://3g2upl4pq6kufc4m.onion/', target='_blank') http://3g2upl4pq6kufc4m.onion/
          br
          h2 Disclaimer
          | Accountability for content
          br
          | The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
          br
          br
          | Accountability for links
          br
          | Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
          br
          br
          | Copyright
          br
          |  Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
          br
          br
          i Source:
          a(href='https://www.twigg.de', target='_blank') twiggs translations
          br
          br
