/**
 * Geosoftware I, SoSe 2017, final
 * @author Jan Speckamp (428367)
 */

body {
  font: 14px, Helvetica;
  padding: 0;
  margin: 0;
}

a, a:active, a:focus{
  color: #00B7FF;
  outline: none;
  border: 0;
}

#search {
  padding-top: 10px;
}


.panel-heading {
  background-color: lightgray;
  background: lightgray;
}

.panel-heading:hover {
  cursor: pointer;
}

.rightmargin {
  margin-right: 20px;
}

/* Adapted from https://www.w3schools.com/howto/howto_css_animated_search.asp */
input[type=search] {
  box-sizing: border-box;
  width: 10000px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 4px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=search]:focus {
  width: 80%;
}
#searchformbybbox_topLat{
width: 90px;

}
#searchformbybbox_topLong{
width: 90px;
}
#searchformbybbox_bottomLat{
width: 90px;
}
#searchformbybbox_bottomLong{
width: 90px;
}
.panel-body{
  padding: 0px;
}

.colorform{
  padding: 15px;
  padding-top: 0px;
}
.ui-resizable-handle {
  background: linear-gradient(
          to bottom,
          white,
          white 50%,
          lightgray 50%,
          lightgray
  );
  background-size: 100% 20px;
}
html, body, #map {
  height: 100%;
}
.scroll {
  overflow: scroll;
  margin: auto;
}
/*
#searchform {
  padding-bottom: 10px;

}
*/
.tabledisplay {
  display: table;
}

.tabledisplay p {
  display: table-row;
}

.tabledisplay input, label, button{
  display: table-cell;
}

.blue {
  background-color:lightskyblue !important;
}
/*
.leaflet-routing-container {
  display:none;
}*/
.readonly {
  background-color: #b4b4b4;
}
/*
.sidebar-left {
  width: 35%;
}*/
.leaflet-popup-content-wrapper{
  text-align: center;
}

.add-field-button{
  margin-bottom: 10px;
}
img {
  width: auto;
  height: 200px;
  margin: auto;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropd {
  display: none;
}
html,body {
  height: 100%;
}


  .sidebar {
    opacity: 0.95;
    padding-top:0;
  }
  #sidebar .nav>li {
    color: #ddd;
    background: linear-gradient(#3B3B, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    padding-left:10px;
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar .nav>li>a {
    color: #ddd;
  }
  #sidebar .nav>li>a>img {
    max-width: 30px;
  }
  #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;
  }
  #sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  #sidebar .nav a:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  div#showTCI1 {
   overflow: hidden;
  }

  #showTCI1 a {
     display: block;
     height: 150px;
}


}
